{% extends 'base.html' %}
{% block content %}
<a href="{% url 'sshmigrations:create_gh_connection' %}" class="btn btn-primary">Add project</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for connection in gh_connections %}    
        <tr>
          <th scope="row">{{connection.repo_name}}</th>
          <th scope="row"><a href="{% url 'sshmigrations:update_gh_connection' connection.pk %}"><i class="fa-solid fa-pen"></i></a></th>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}