{% extends 'base.html' %}
{% block content %}
<a href="{% url 'sshmigrations:create_gh_connection' %}" class="btn btn-primary">Add project</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
      </tr>
    </thead>
    <tbody>
        {% for connection in gh_connections %}    
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}