{% extends 'base.html' %}
{% block content %}
<a href="{% url 'sshmigrations:create_project' %}" class="btn btn-primary">Add project</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for project in projects %}    
        <tr>
          <th scope="row">{{project.project_name}}</th>
          <th scope="row"><a href="{% url 'sshmigrations:update_project' project.pk %}"><i class="fa-solid fa-pen"></i></a></th>

        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}